.btn-primary-red {
  color: #fff;
  background-color: #C05F5C;
  border-color: #C05F5C;
}

.bg-indigo{
  background-color: #C05F5C;;
  border-color: #C05F5C;;
  color: #fff;
}

.navbar-brand > img {
  margin-top: 2px;
  height: 20px;
}

.fc-unthemed td.fc-today {
  background-color: #fcf69d;
}

body {
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5384616;
  color: #333333;
  background-color: #F4EAE9;
}

.bg-label-online {
  background-color: #F4EAE9;
  border-color: #F4EAE9;
  color: #000000;
}

.sidebar-default .navigation li.active > a, .sidebar-default .navigation li.active > a:hover, .sidebar-default .navigation li.active > a:focus {
  background-color: #F4EAE9;
  color: #000000;
}

.border-login-400 {
  border-color: #C05F5C;
}
.icon-object {
  border-radius: 50%;
  text-align: center;
  margin: 10px;
  border-width: 3px;
  border-style: solid;
  padding: 20px;
  display: inline-block;
  background-color: #F4EAE9;
}

.bg-login {
  background-color: #C05F5C;
  border-color: #C05F5C;
  color: #fff;
}